footer{
  text-align: center;
}


#video01{
  width: 50%;
  display: inline-block;
}
label{
  display: block;
  margin-bottom: 10px;
  width: 500px;
}
table{
  border-collapse: collapse;
}
td, th{
  border: 1px solid black;
  padding: 5px 10px;
}
th{
  color: blue;
}
tfoot{
  color: blue;
  text-decoration: underline;
}

